


<!-- report_trainingsessions/courserepotbuttons -->
<center>
<div class="report-buttons">

    <div class="table-row">

        <div class="tr-summary table-cell">
            {{{generatecsvbutton}}}
        </div>

        <div class="tr-detailed table-cell">
            {{{generatexlsbutton}}}
        </div>

        {{#haspdf}}
        <div class="tr-detailed table-cell">
        {{{generatepdfbutton}}}
        </div>
        {{/haspdf}}

    </div>

</div>
</center>
<!-- /report_trainingsessions/coursereportbuttons -->


