
<!-- report_trainingsessions/progressionbar -->
<div class="report-trainingsessions-progress-outer" style="width: {{width}};display: inline-block;margin: 10px 0">
    <div class="report-trainingsessions-progress-inner {{class}}" style="width:{{value}}%; background-image: url({{{pixurl}}});" >&nbsp;</div>
</div>
<div style="text-align:center;display: inline-block;margin:5px 0 0 20px">
    {{done}} / {{total}} ({{value}}%) &nbsp;&nbsp;&nbsp;{{#str}}items, report_trainingsessions{{/str}} / {{#str}}total, report_trainingsessions{{/str}}
</div>
<!-- /report_trainingsessions/progressionbar -->
